body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {

  display: grid;
  grid-template-columns: 240px auto 50px;


}

.loginWrap img {
  width: 100px;
  padding: 1rem 0;
}

.loginWrap {

  background: rgb(255, 255, 255);
  padding: 1.5rem;
  width: 400px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.loginWrap button {

  background: #2381fa;
  padding: 1rem 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem;
  border: 0;
  outline: 0;
  border-radius: 1.5rem;
  cursor: pointer;

}